<!DOCTYPE html>
<html ng-app="librasQuim">
  <head>
    <meta charset="UTF-8">
    <title>LibrasQuim</title>
    <script type="text/javascript" src="node_modules/clappr/dist/clappr.js"></script>
    <link rel="stylesheet" href="assets/css/photon.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="node_modules/angular/angular.js"></script>
  </head>
  <body>
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar" ng-controller="MenuController">
            <ul class="list-group">
              <li class="list-group-header brand">
                <h2>Libras<i>Quim</i></h2>
              </li>
              <li class="list-group-header">
                <input class="form-control" type="text" placeholder="Buscar por palavra" ng-model="$ctrl.query">
              </li>
                <li class="list-group-item" ng-repeat="word in words | filter:$ctrl.query">
                  <a ng-href={{word.link}} ng-click="play($event, word.link)">
                    <div class="media-body">
                      <strong class="word">{{word.name}}</strong>
                    </div>
                  </a>
                </li>
            </ul>
          </div>
          <div class="pane" id="pane-central">
            <div class="content-placeholder">
              <div class="container main-container">
                <div id="player"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
