.list-group-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.container {
  /*padding: 10px;*/
}

.app-title {
  text-align: center;
  color: #555;
}

.main-container {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

#pane-central {
  background: #f5f5f4;
}

.brand {
  color: #555;
  font-size: sans-serif;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.brand h2 i {
  text-decoration: none;
  color: orange;
  font-style: normal;
}

.word {
  text-transform: capitalize;
}